[Unit]
Description=UDP remote control for DVBlast
Conflicts=shutdown.target reboot.target halt.target

[Service]
TimeoutStartSec=0
TimeoutStopSec=30
Restart=always
RestartSec=10

ExecStart=/usr/bin/python /usr/local/bin/remote_control.py -c /usr/local/share/toulon.conf
NotifyAccess=all

[Install]
WantedBy=multi-user.target

