[Unit]
Description=UDP remote control for DVBlast
Conflicts=shutdown.target reboot.target halt.target

[Service]
TimeoutStartSec=0
TimeoutStopSec=30
Restart=always
RestartSec=10

WorkingDirectory=/home/alarm/scripts/
ExecStart=/usr/bin/python remote_control.py
NotifyAccess=all

[Install]
WantedBy=multi-user.target

